<section id="body">
  <div>
    <div id="navbar">
      <ul id="links">
      
    
      
        <li class="link" style="border: none;background-color: rgb(224, 112, 112);font-size: 17px; font-weight: bold;font-family: 'Times New Roman', Times, serif;" >Welcome! {{usname}}</li>
        <li class="link"  [routerLink]="['/userdashboard']">Show History</li>
        <li class="link"  [routerLink]="['/indexLink']">Logout</li>
        
      </ul>
      <br style="clear: both" />
    </div>
<h1 style="text-align: center;">Product List</h1>
<label for="cardno">Search Product: </label>
       <input type="text" id="cardno" name="cardno" [(ngModel)]="ProductName"  />
       <button class="button" (click)="findproducts(ProductName)">Search</button><br><br>
       
<div class="container">
<section class="section" *ngFor="let p of prod">
    <img src="../../assets/images/{{p.prodimage}}" class="image" />
    <div class="content">
  
      
      <label class="lb1"> PRODUCT NAME :</label>{{p.prodname}}<br><br>
      <label class="lb1"> PRODUCT DETAILS :</label>{{p.proddesc}}<br><br>
      <label class="lb1"> COST :</label>{{p.price}}<br><br>
      <button class="button" (click)="loadproduct(p.prodid)">Buy Now</button>

    </div>
  </section>
  
</div>
