* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
  }
   
  #body {
    /* background-color: #f9fafb; */
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #555;
  }
  form {
    width: 500px;
    margin: 30px auto;
    background-color: #fff;
    color: #f4f4f4;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  div {
    padding: 10px 0px;
  }
  label {
    padding: 0px 10px;
    display: inline-block;
    width: 200px;
    color: #777;
    font-size: 15px;
  }
  input {
    outline: none;
    padding: 5px 10px;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
  }
  input:focus {
    outline: 0;
    border-color: #777;
  }
  button {
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin: 0px auto;
  }
  a {
    color: #3498db;
  }
  p {
    margin-top: 20px;
    text-align: center;
    color: #777;
  }
   
  .ng-valid[required],
  .ng-valid.required {
    border-left: 5px solid #42a948; /* green */
  }
   
  .ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
  }
  .alert {
    background-color: #f38c72;
  }
  .alert-danger {
    color: #a94442;
    font-size: 12px;
  }
  #navbar {
    /* background-color: rgb(155, 155, 155); */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }
  #links {
    list-style: none;
    float: right;
    margin: 20px 10px;
  }
   
  .link {
    float: left;
    margin-right: 25px;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  