<div id="navbar">
  <ul id="links">
    <li class="link"  [routerLink]="['/indexLink']">Home</li>
    <li class="link"  [routerLink]="['/adminlogin']">Admin Login </li>
    <li class="link" [routerLink]="['/registerLink']">User Register</li>
    <li class="link" [routerLink]="['/loginLink']">User Login</li>
  </ul>
  <br style="clear: both" />
</div>
<section id="body">
    <form #changePassForm="ngForm" (ngSubmit)="onSubmit(changePassForm)">
      <h2>Change Password</h2>
      <div>
        <label for="newpass">NEW PASSWORD</label>
        <input
          type="password"
          id="newpass"
          name="newpass"
          required
          minlength="8"
          [(ngModel)]="newpass"
          #Nnewpass="ngModel"
          pattern="(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=[^0-9]*[0-9]).{8,}"
        />
        <div [hidden]="Nnewpass.valid || Nnewpass.pristine" class="alert-danger">
          <label></label>
          <span>*Password must contain 8 char </span>
          <br />
          <label></label>
          <span>(Minimum 1 upper lower number symbol each )</span>
        </div>
      </div>
      <div>
        <label for="confirmpass">CONFIRM PASSWORD</label>
        <input
          type="password"
          id="confirmpass"
          name="confirmpass"
          [(ngModel)]="confirmpass"
          required
          minlength="8"
          #Nconfirmpass="ngModel"
        />
      </div>
      <div
        class="alert-danger"
        [hidden]="passwordincorrect"
        style="text-align: center"
      >
        Password does not match
      </div>
   
      <div style="display: flex">
        <button type="submit">SAVE</button>
      </div>
    </form>
  </section>
  
